doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webpack Template
  body
    .wrapper
      h1 Webpack
    div
      h1 Section2!
      img(src='/assets/images/1.jpg', alt='')
    div
      h1 Section2!
      img(src='/assets/images/1.jpg', alt='')
