* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    max-width: 1480px;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
  border: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}