.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $default-color;
    @include tablet {
        color: $main-color;
    };
}

.title {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    margin-left: 30px;
}

.menu__link {
    margin-right: 10px;
}

.footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url('/assets/images/2.jpg');
}